<ion-content class="auth-form">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrar</ion-button>
  
          <span class="divider line one-line">ou</span>
  
          <!-- <p><span class="ion-text-start">Já tem usuário?</span></p>  -->
  
          <ion-button [routerLink]="['/login']" expand="block" color="danger">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
